@charset "utf-8";
/* =reset
 -------------------------------------------------- */
* { margin: 0; padding: 0; }

/* =main
 -------------------------------------------------- */
html { height: 100%; }
body { width: 100%; height: 100%; background: #ffffff;  font-family: Helvetica, sans-serif; display: block; }

/* =fix
 -------------------------------------------------- */
.clear { clear: both; float: none; }

/* =custom
 -------------------------------------------------- */
/* wrapper */
div#wrapper { width: 100%; height: auto; min-height: 100%; background: #ffffff; float: left; display: block; }